header.notion-header {
  display: none;
}

.notion-title {
  font-size: 2.2em;
  margin-bottom: 0 !important;
}

.notion-text {
  font-size: 18px;
  line-height: 1.8;
}

.notion-page-title-text {
  flex: 1;
}

.notion-full-page {
  padding-bottom: 0 !important;
}
