.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.06);
}

.brandStyle {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
}

.dropdownBtn {
  margin-right: -5px;
  margin-left: -5px;
}
