.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.icon {
  width: 24px;
  height: 24px;
}

.value {
  margin: 0 10px 0 5px;
}
